<i>Copyright (c) Microsoft Corporation. All rights reserved.</i>

<i>Licensed under the MIT License.</i>

## FastAI Recommender

This notebook shows how to use the [FastAI](https://fast.ai) recommender which is using [Pytorch](https://pytorch.org/) under the hood.

In [1]:
# set the environment path to find Recommenders
import sys
sys.path.append("../../")
import time
import os
import itertools
import pandas as pd
import numpy as np
import papermill as pm
import torch, fastai
import joblib
import warnings

warnings.filterwarnings("ignore")
from fastai.collab import EmbeddingDotBias, collab_learner, CollabDataBunch, load_learner

from reco_utils.dataset import movielens
from reco_utils.dataset.python_splitters import python_stratified_split
from reco_utils.recommender.fastai.fastai_utils import cartesian_product, score
from reco_utils.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k
from reco_utils.evaluation.python_evaluation import rmse, mae, rsquared, exp_var

print("System version: {}".format(sys.version))
print("Pandas version: {}".format(pd.__version__))
print("Fast AI version: {}".format(fastai.__version__))
print("Torch version: {}".format(torch.__version__))
print("Cuda Available: {}".format(torch.cuda.is_available()))
print("CuDNN Enabled: {}".format(torch.backends.cudnn.enabled))

System version: 3.6.10 |Anaconda, Inc.| (default, May  7 2020, 23:06:31)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version: 0.25.3
Fast AI version: 1.0.61
Torch version: 1.1.0
Cuda Available: False
CuDNN Enabled: True

In [2]:
#Defining some constants to refer to the different columns of our dataset.

In [3]:
USER, PRODUCT, RATING, PRODNAME, PREDICTION, PRICE = 'userId', 'productId', 'ratings', 'Product Name','Prediction' ,'Price'

In [4]:
USER

'userId'

In [5]:


# Select MovieLens data size: 100k, 1m, 10m, or 20m
FOOD_DATA_SIZE = '10k'

# Model parameters
N_FACTORS = 40
EPOCHS = 5

In [6]:
food_rate_df = pd.read_csv("FinalFood.csv")

In [7]:
food_rate_df.rename(columns = {'Product Name':'Product_Name'}, inplace = True)

In [8]:
food_rate_df

       userId  productId  ratings   Product_Name  Price
0         998        116        2          Salad      6
1         948        121        2           Milk      9
2         776        126        1           Tuna      5
3         224        109        1        Cupcake      9
4         657        124        2        Carrots     10
...       ...        ...      ...            ...    ...
14403     986        113        3         walnut     14
14404      75        111        3        Cereals      5
14405     761        103        5         Cheese      6
14406     181        110        4     Curly Kale      5
14407     310        128        3  coconut water     15

[14408 rows x 5 columns]

In [9]:
food_rate_df[USER] = food_rate_df[USER].astype('str')
food_rate_df[PRODUCT] = food_rate_df[PRODUCT].astype('str')

In [10]:
food_rate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14408 entries, 0 to 14407
Data columns (total 5 columns):
userId          14408 non-null object
productId       14408 non-null object
ratings         14408 non-null int64
Product_Name    14408 non-null object
Price           14408 non-null int64
dtypes: int64(2), object(3)
memory usage: 562.9+ KB

In [11]:
# Split the dataset
train_valid_df, test_df = python_stratified_split(
    food_rate_df, 
    ratio=0.75, 
    min_rating=1, 
    filter_by="user", 
    col_user=USER, 
    col_item=PRODUCT
)

In [12]:
len(train_valid_df.userId.unique())

999

## Training

In [13]:
# fix random seeds to make sure our runs are reproducible
np.random.seed(101)
torch.manual_seed(101)
torch.cuda.manual_seed_all(101)

In [14]:
start_time = time.time()

data = CollabDataBunch.from_df(train_valid_df, user_name=USER, item_name=PRODUCT, rating_name=RATING, valid_pct=0)

preprocess_time = time.time() - start_time

In [15]:
data.show_batch()

Now we will create a `collab_learner` for the data, which by default uses the [EmbeddingDotBias](https://docs.fast.ai/collab.html#EmbeddingDotBias) model. We will be using 40 latent factors. This will create an embedding for the users and the items that will map each of these to 40 floats as can be seen below. Note that the embedding parameters are not predefined, but are learned by the model.

Although ratings can only range from 1-5, we are setting the range of possible ratings to a range from 0 to 5.5 -- that will allow the model to predict values around 1 and 5, which improves accuracy. Lastly, we set a value for weight-decay for regularization.

In [16]:
learn = collab_learner(data, n_factors=N_FACTORS, y_range=[0,5.5], wd=1e-1)
learn.model

EmbeddingDotBias(
  (u_weight): Embedding(1000, 40)
  (i_weight): Embedding(31, 40)
  (u_bias): Embedding(1000, 1)
  (i_bias): Embedding(31, 1)
)

Now train the model for 5 epochs setting the maximal learning rate. The learner will reduce the learning rate with each epoch using cosine annealing.

In [17]:
start_time = time.time()

learn.fit_one_cycle(EPOCHS, max_lr=5e-3)

train_time = time.time() - start_time + preprocess_time
print("Took {} seconds for training.".format(train_time))

Took 2.814328193664551 seconds for training.

Save the learner so it can be loaded back later for inferencing / generating recommendations

In [18]:
learn.export('foodpredict_model.pkl')
?learn.export

Signature:
learn.export(
    file:Union[pathlib.Path, str, _io.BufferedWriter, _io.BytesIO]='export.pkl',
    destroy=False,
)
Docstring: Export the state of the `Learner` in `self.path/file`. `file` can be file-like (file or buffer)
File:      ~/opt/anaconda3/envs/reco_base/lib/python3.6/site-packages/fastai/basic_train.py
Type:      method

## Generating Recommendations

Load the learner from disk. #To be perform

In [19]:
learner = load_learner(path=".", file = 'foodpredict_model.pkl')

In [20]:
?load_learner

Signature:
load_learner(
    path:Union[pathlib.Path, str],
    file:Union[pathlib.Path, str, _io.BufferedWriter, _io.BytesIO]='export.pkl',
    test:fastai.data_block.ItemList=None,
    tfm_y=None,
    **db_kwargs,
)
Docstring: Load a `Learner` object saved with `export_state` in `path/file` with empty data, optionally add `test` and load on `cpu`. `file` can be file-like (file or buffer)
File:      ~/opt/anaconda3/envs/reco_base/lib/python3.6/site-packages/fastai/basic_train.py
Type:      function

Get all users and items that the model knows

In [21]:
total_users, total_items = learner.data.train_ds.x.classes.values()
total_items = total_items[1:]
total_users = total_users[1:]

Get all users from the test set and remove any users that were know in the training set

In [22]:
test_users = test_df[USER].unique()
test_users = np.intersect1d(test_users, total_users)

Build the cartesian product of test set users and all items known to the model

In [23]:
users_items = cartesian_product(np.array(test_users),np.array(total_items))
users_items = pd.DataFrame(users_items, columns=[USER,PRODUCT])


Lastly, remove the user/items combinations that are in the training set -- we don't want to propose a movie that the user has already watched.

In [24]:
training_removed = pd.merge(users_items, train_valid_df.astype(str), on=[USER, PRODUCT], how='left')
training_removed = training_removed[training_removed[RATING].isna()][[USER, PRODUCT]]

### Score the model to find the top K recommendation

In [25]:
start_time = time.time()

top_k_scores = score(learner, 
                     test_df=training_removed,
                     user_col=USER, 
                     item_col=PRODUCT, 
                     prediction_col=PREDICTION)

test_time = time.time() - start_time
print("Took {} seconds for {} predictions.".format(test_time, len(training_removed)))

Took 0.032716989517211914 seconds for 18907 predictions.

In [26]:
top_k_scores

      userId productId  Prediction
16         0       115    3.821809
4          0       104    3.720030
22         0       121    3.622766
19         0       118    3.579362
28         0       127    3.565753
...      ...       ...         ...
29612    999       125    2.805949
29611    999       124    2.680897
29603    999       116    2.672957
29615    999       128    2.651947
29605    999       118    2.261295

[18907 rows x 3 columns]

In [27]:
top_k_scores[top_k_scores['userId'] == '11']

    userId productId  Prediction
328     11       110    4.094585
331     11       113    3.791654
342     11       122    3.520812
334     11       116    3.312456
318     11       100    3.280399
323     11       105    3.133853
321     11       103    3.055280
332     11       114    3.005888
319     11       101    3.000746
324     11       106    2.954243
349     11       128    2.706671
344     11       124    2.648097
343     11       123    2.588336
350     11       129    2.301647
330     11       112    2.295932
322     11       104    2.274082
320     11       102    1.736097

In [28]:
# import pickle
# pickle.dump(top_k_scores, open("top_k_scores.pkl", 'wb'))

Calculate some metrics for our model

In [31]:
TOP_K = 5

In [32]:
eval_map = map_at_k(test_df, top_k_scores, col_user=USER, col_item=PRODUCT, 
                    col_rating=RATING, col_prediction=PREDICTION, 
                    relevancy_method="top_k", k=TOP_K)

In [33]:
eval_ndcg = ndcg_at_k(test_df, top_k_scores, col_user=USER, col_item=PRODUCT, 
                      col_rating=RATING, col_prediction=PREDICTION, 
                      relevancy_method="top_k", k=TOP_K)

In [34]:
eval_precision = precision_at_k(test_df, top_k_scores, col_user=USER, col_item=PRODUCT, 
                                col_rating=RATING, col_prediction=PREDICTION, 
                                relevancy_method="top_k", k=TOP_K)

In [35]:
eval_recall = recall_at_k(test_df, top_k_scores, col_user=USER, col_item=PRODUCT, 
                          col_rating=RATING, col_prediction=PREDICTION, 
                          relevancy_method="top_k", k=TOP_K)

In [36]:
print("Model:\t" + learner.__class__.__name__,
      "Top K:\t%d" % TOP_K,
      "MAP:\t%f" % eval_map,
      "NDCG:\t%f" % eval_ndcg,
      "Precision@K:\t%f" % eval_precision,
      "Recall@K:\t%f" % eval_recall, sep='\n')

Model:	CollabLearner
Top K:	5
MAP:	0.084168
NDCG:	0.149695
Precision@K:	0.127451
Recall@K:	0.158781

The above numbers are lower than [SAR](../sar_single_node_movielens.ipynb), but expected, since the model is explicitly trying to generalize the users and items to the latent factors. Next look at how well the model predicts how the user would rate the movie. Need to score `test_df` user-items only.

In [37]:
scores = score(learner, 
               test_df=test_df.copy(), 
               user_col=USER, 
               item_col=PRODUCT, 
               prediction_col=PREDICTION)

Now calculate some regression metrics

In [38]:
eval_r2 = rsquared(test_df, scores, col_user=USER, col_item=PRODUCT, col_rating=RATING, col_prediction=PREDICTION)
eval_rmse = rmse(test_df, scores, col_user=USER, col_item=PRODUCT, col_rating=RATING, col_prediction=PREDICTION)
eval_mae = mae(test_df, scores, col_user=USER, col_item=PRODUCT, col_rating=RATING, col_prediction=PREDICTION)
eval_exp_var = exp_var(test_df, scores, col_user=USER, col_item=PRODUCT, col_rating=RATING, col_prediction=PREDICTION)

print("Model:\t" + learner.__class__.__name__,
      "RMSE:\t%f" % eval_rmse,
      "MAE:\t%f" % eval_mae,
      "Explained variance:\t%f" % eval_exp_var,
      "R squared:\t%f" % eval_r2, sep='\n')

Model:	CollabLearner
RMSE:	1.535012
MAE:	1.304221
Explained variance:	-0.197608
R squared:	-0.198228

That RMSE is actually quite good when compared to these benchmarks: https://www.librec.net/release/v1.3/example.html

In [39]:
# Record results with papermill for tests
pm.record("map", eval_map)
pm.record("ndcg", eval_ndcg)
pm.record("precision", eval_precision)
pm.record("recall", eval_recall)
pm.record("rmse", eval_rmse)
pm.record("mae", eval_mae)
pm.record("exp_var", eval_exp_var)
pm.record("rsquared", eval_r2)
pm.record("train_time", train_time)
pm.record("test_time", test_time)

# Getting Predicted rating for all products for all users

In [40]:
#training_removed['userId'].unique()

In [41]:
food_df = pd.read_csv("FoodDetails.csv")

In [42]:
food_df

    productId   Product Name  Price
0         116          Salad      6
1         121           Milk      9
2         126           Tuna      5
3         109        Cupcake      9
4         124        Carrots     10
5         105           Meat     15
6         110     Curly Kale      5
7         111        Cereals      5
8         101          Bread     11
9         100          Juice      6
10        107         Banana     15
11        103         Cheese      6
12        104         Cookie      5
13        118           Curd     13
14        108         Grapes      7
15        120           Eggs      8
16        129        Avocado      6
17        123          Chips     14
18        128  coconut water     15
19        125      Zhucchini      6
20        113         walnut     14
21        127          pizza      8
22        115        Cabbage      5
23        106           Fish      5
24        119        Cereals     14
25        102      Sphagetti     14
26        112           Rice     11
27        114         Apples      9
28        122       Tortilla      6
29        117         Frozen      8

In [43]:
top_k_scores["productId"] = top_k_scores["productId"].astype('int')

In [44]:
top_k_scores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18907 entries, 16 to 29605
Data columns (total 3 columns):
userId        18907 non-null object
productId     18907 non-null int64
Prediction    18907 non-null float32
dtypes: float32(1), int64(1), object(1)
memory usage: 517.0+ KB

In [45]:
import pandas as pd

In [46]:
img = ['https://adm-food-probability.s3.amazonaws.com/salad.jpg',
      'https://adm-food-probability.s3.amazonaws.com/milk.jpg',
      'https://adm-food-probability.s3.amazonaws.com/tuna.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cupcakes.jpg',
      'https://adm-food-probability.s3.amazonaws.com/carrots.jpg',
       'https://adm-food-probability.s3.amazonaws.com/meat.jpg',
      'https://adm-food-probability.s3.amazonaws.com/curlykale.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cereal.jpg',
      'https://adm-food-probability.s3.amazonaws.com/bread.jpg',
      'https://adm-food-probability.s3.amazonaws.com/juice.jpg',
      'https://adm-food-probability.s3.amazonaws.com/banana.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cheese.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cookie.jpg',
      'https://adm-food-probability.s3.amazonaws.com/curd.jpg',
      'https://adm-food-probability.s3.amazonaws.com/grapes.jpg',
      'https://adm-food-probability.s3.amazonaws.com/eggs.jpg',
      'https://adm-food-probability.s3.amazonaws.com/avocado.jpg',
      'https://adm-food-probability.s3.amazonaws.com/chips.jpg',
      'https://adm-food-probability.s3.amazonaws.com/coconut water.jpg',
      'https://adm-food-probability.s3.amazonaws.com/zuccini.jpg',
      'https://adm-food-probability.s3.amazonaws.com/walnut.jpg',
      'https://adm-food-probability.s3.amazonaws.com/pizza.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cabbage.jpg',
      'https://adm-food-probability.s3.amazonaws.com/fish.jpg',
      'https://adm-food-probability.s3.amazonaws.com/cereals.jpg',
      'https://adm-food-probability.s3.amazonaws.com/spaghetti.jpg',
      'https://adm-food-probability.s3.amazonaws.com/rice.jpg',
      'https://adm-food-probability.s3.amazonaws.com/apple.jpg',
      'https://adm-food-probability.s3.amazonaws.com/tortilla.jpg',
      'https://adm-food-probability.s3.amazonaws.com/frozen.jpg']

In [47]:
img

['https://adm-food-probability.s3.amazonaws.com/salad.jpg',
 'https://adm-food-probability.s3.amazonaws.com/milk.jpg',
 'https://adm-food-probability.s3.amazonaws.com/tuna.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cupcakes.jpg',
 'https://adm-food-probability.s3.amazonaws.com/carrots.jpg',
 'https://adm-food-probability.s3.amazonaws.com/meat.jpg',
 'https://adm-food-probability.s3.amazonaws.com/curlykale.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cereal.jpg',
 'https://adm-food-probability.s3.amazonaws.com/bread.jpg',
 'https://adm-food-probability.s3.amazonaws.com/juice.jpg',
 'https://adm-food-probability.s3.amazonaws.com/banana.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cheese.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cookie.jpg',
 'https://adm-food-probability.s3.amazonaws.com/curd.jpg',
 'https://adm-food-probability.s3.amazonaws.com/grapes.jpg',
 'https://adm-food-probability.s3.amazonaws.com/eggs.jpg',
 'https://adm-food-probability.s3.amazonaws.com/avocado.jpg',
 'https://adm-food-probability.s3.amazonaws.com/chips.jpg',
 'https://adm-food-probability.s3.amazonaws.com/coconut water.jpg',
 'https://adm-food-probability.s3.amazonaws.com/zuccini.jpg',
 'https://adm-food-probability.s3.amazonaws.com/walnut.jpg',
 'https://adm-food-probability.s3.amazonaws.com/pizza.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cabbage.jpg',
 'https://adm-food-probability.s3.amazonaws.com/fish.jpg',
 'https://adm-food-probability.s3.amazonaws.com/cereals.jpg',
 'https://adm-food-probability.s3.amazonaws.com/spaghetti.jpg',
 'https://adm-food-probability.s3.amazonaws.com/rice.jpg',
 'https://adm-food-probability.s3.amazonaws.com/apple.jpg',
 'https://adm-food-probability.s3.amazonaws.com/tortilla.jpg',
 'https://adm-food-probability.s3.amazonaws.com/frozen.jpg']

In [48]:
len(food_df)

30

In [49]:
len(img)

30

In [50]:
food_df['img']=img

In [51]:
result_df = pd.merge(top_k_scores,food_df, on='productId')

In [52]:
result_df = result_df.sample(frac=1).reset_index(drop=True)

In [53]:
result_df[result_df["userId"] == '2']

,userId,productId,Prediction,Product Name,Price,img
388,2,127,3.725677,pizza,8,https://adm-food-probability.s3.amazonaws.com/...
958,2,118,1.640328,Curd,13,https://adm-food-probability.s3.amazonaws.com/...
1812,2,128,2.455995,coconut water,15,https://adm-food-probability.s3.amazonaws.com/...
2443,2,120,3.245828,Eggs,8,https://adm-food-probability.s3.amazonaws.com/...
3472,2,115,2.948685,Cabbage,5,https://adm-food-probability.s3.amazonaws.com/...
5042,2,124,1.763601,Carrots,10,https://adm-food-probability.s3.amazonaws.com/...
6010,2,112,2.840998,Rice,11,https://adm-food-probability.s3.amazonaws.com/...
7056,2,117,3.196229,Frozen,8,https://adm-food-probability.s3.amazonaws.com/...
7570,2,100,2.124599,Juice,6,https://adm-food-probability.s3.amazonaws.com/...
11206,2,105,2.921370,Meat,15,https://adm-food-probability.s3.amazonaws.com/...
11383,2,108,3.436233,Grapes,7,https://adm-food-probability.s3.amazonaws.com/...
12609,2,121,3.174437,Milk,9,https://adm-food-probability.s3.amazonaws.com/...
13149,2,106,3.237953,Fish,5,https://adm-food-probability.s3.amazonaws.com/...
13252,2,103,3.581521,Cheese,6,https://adm-food-probability.s3.amazonaws.com/...
14422,2,126,3.572212,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
15091,2,116,3.002268,Salad,6,https://adm-food-probability.s3.amazonaws.com/...
15488,2,107,3.469532,Banana,15,https://adm-food-probability.s3.amazonaws.com/...
15562,2,125,3.473061,Zhucchini,6,https://adm-food-probability.s3.amazonaws.com/...
16579,2,102,2.361446,Sphagetti,14,https://adm-food-probability.s3.amazonaws.com/...
16734,2,114,4.106761,Apples,9,https://adm-food-probability.s3.amazonaws.com/...
16921,2,109,2.574600,Cupcake,9,https://adm-food-probability.s3.amazonaws.com/...
17927,2,111,2.449080,Cereals,5,https://adm-food-probability.s3.amazonaws.com/...
18263,2,110,3.236552,Curly Kale,5,https://adm-food-probability.s3.amazonaws.com/...

In [54]:
(result_df[result_df["userId"] == '1']).sort_values(by='Prediction', ascending=False).reset_index(drop=True).loc[0:4,:]

,userId,productId,Prediction,Product Name,Price,img
0,1,109,3.859690,Cupcake,9,https://adm-food-probability.s3.amazonaws.com/...
1,1,104,3.710047,Cookie,5,https://adm-food-probability.s3.amazonaws.com/...
2,1,124,3.264657,Carrots,10,https://adm-food-probability.s3.amazonaws.com/...
3,1,121,3.103421,Milk,9,https://adm-food-probability.s3.amazonaws.com/...
4,1,118,2.982810,Curd,13,https://adm-food-probability.s3.amazonaws.com/...

In [55]:
test = result_df.sort_values(['Prediction'], ascending=False)

In [56]:
test[test["userId"] == '2'].head(10)

,userId,productId,Prediction,Product Name,Price,img
16734,2,114,4.106761,Apples,9,https://adm-food-probability.s3.amazonaws.com/...
388,2,127,3.725677,pizza,8,https://adm-food-probability.s3.amazonaws.com/...
13252,2,103,3.581521,Cheese,6,https://adm-food-probability.s3.amazonaws.com/...
14422,2,126,3.572212,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
15562,2,125,3.473061,Zhucchini,6,https://adm-food-probability.s3.amazonaws.com/...
15488,2,107,3.469532,Banana,15,https://adm-food-probability.s3.amazonaws.com/...
11383,2,108,3.436233,Grapes,7,https://adm-food-probability.s3.amazonaws.com/...
2443,2,120,3.245828,Eggs,8,https://adm-food-probability.s3.amazonaws.com/...
13149,2,106,3.237953,Fish,5,https://adm-food-probability.s3.amazonaws.com/...
18263,2,110,3.236552,Curly Kale,5,https://adm-food-probability.s3.amazonaws.com/...

In [57]:
test1 = test.copy()

In [58]:
test1['Prediction'] = test1['Prediction'].apply(np.ceil)

In [59]:
test1 = test1.sort_values(by='Prediction', ascending=False).reset_index(drop=True)

In [60]:
test1

,userId,productId,Prediction,Product Name,Price,img
0,786,103,5.0,Cheese,6,https://adm-food-probability.s3.amazonaws.com/...
1,43,126,5.0,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
2,25,126,5.0,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
3,981,119,5.0,Cereals,14,https://adm-food-probability.s3.amazonaws.com/...
4,717,129,5.0,Avocado,6,https://adm-food-probability.s3.amazonaws.com/...
...,...,...,...,...,...,...
18902,624,106,2.0,Fish,5,https://adm-food-probability.s3.amazonaws.com/...
18903,570,113,2.0,walnut,14,https://adm-food-probability.s3.amazonaws.com/...
18904,683,108,2.0,Grapes,7,https://adm-food-probability.s3.amazonaws.com/...
18905,168,126,2.0,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
18906,580,107,2.0,Banana,15,https://adm-food-probability.s3.amazonaws.com/...

In [61]:
test1[test1["userId"] == '2']

,userId,productId,Prediction,Product Name,Price,img
29,2,114,5.0,Apples,9,https://adm-food-probability.s3.amazonaws.com/...
218,2,121,4.0,Milk,9,https://adm-food-probability.s3.amazonaws.com/...
1287,2,120,4.0,Eggs,8,https://adm-food-probability.s3.amazonaws.com/...
1330,2,110,4.0,Curly Kale,5,https://adm-food-probability.s3.amazonaws.com/...
1379,2,106,4.0,Fish,5,https://adm-food-probability.s3.amazonaws.com/...
1855,2,117,4.0,Frozen,8,https://adm-food-probability.s3.amazonaws.com/...
2913,2,116,4.0,Salad,6,https://adm-food-probability.s3.amazonaws.com/...
4444,2,126,4.0,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
4787,2,103,4.0,Cheese,6,https://adm-food-probability.s3.amazonaws.com/...
5040,2,107,4.0,Banana,15,https://adm-food-probability.s3.amazonaws.com/...
5134,2,125,4.0,Zhucchini,6,https://adm-food-probability.s3.amazonaws.com/...
6229,2,127,4.0,pizza,8,https://adm-food-probability.s3.amazonaws.com/...
7943,2,108,4.0,Grapes,7,https://adm-food-probability.s3.amazonaws.com/...
8901,2,109,3.0,Cupcake,9,https://adm-food-probability.s3.amazonaws.com/...
11818,2,100,3.0,Juice,6,https://adm-food-probability.s3.amazonaws.com/...
12426,2,111,3.0,Cereals,5,https://adm-food-probability.s3.amazonaws.com/...
12873,2,128,3.0,coconut water,15,https://adm-food-probability.s3.amazonaws.com/...
12967,2,102,3.0,Sphagetti,14,https://adm-food-probability.s3.amazonaws.com/...
13927,2,105,3.0,Meat,15,https://adm-food-probability.s3.amazonaws.com/...
15923,2,115,3.0,Cabbage,5,https://adm-food-probability.s3.amazonaws.com/...
17937,2,112,3.0,Rice,11,https://adm-food-probability.s3.amazonaws.com/...
18655,2,118,2.0,Curd,13,https://adm-food-probability.s3.amazonaws.com/...
18709,2,124,2.0,Carrots,10,https://adm-food-probability.s3.amazonaws.com/...

In [62]:
(test1[test1["userId"] == '2']).sort_values(by='Prediction', ascending=False).reset_index(drop=True).loc[0:4,:]

,userId,productId,Prediction,Product Name,Price,img
0,2,114,5.0,Apples,9,https://adm-food-probability.s3.amazonaws.com/...
1,2,126,4.0,Tuna,5,https://adm-food-probability.s3.amazonaws.com/...
2,2,108,4.0,Grapes,7,https://adm-food-probability.s3.amazonaws.com/...
3,2,121,4.0,Milk,9,https://adm-food-probability.s3.amazonaws.com/...
4,2,125,4.0,Zhucchini,6,https://adm-food-probability.s3.amazonaws.com/...

In [63]:
import pickle
pickle.dump(test1, open("finalfastai1.pkl", 'wb'))