In [1]:

import itertools
import pandas as pd
import numpy as np

In [2]:
food_rate = pd.read_csv("fmtestlarge.csv")
food_rate

       userId  productId
0           0        101
1           0        102
2           0        103
3           0        104
4           0        105
...       ...        ...
29995     999        126
29996     999        127
29997     999        128
29998     999        129
29999     999        130

[30000 rows x 2 columns]

In [3]:
rate = []
for i in range(len(food_rate)):
    rate.append(np.random.randint(0,2))

In [4]:
food_rate['ratings']= rate

In [5]:
food_rate

       userId  productId  ratings
0           0        101        0
1           0        102        0
2           0        103        1
3           0        104        1
4           0        105        1
...       ...        ...      ...
29995     999        126        0
29996     999        127        1
29997     999        128        1
29998     999        129        1
29999     999        130        0

[30000 rows x 3 columns]

In [6]:
food_rate_1 = food_rate.copy()

In [7]:
def convert_to_ffm(df,numerics,categories,features):
    currentcode = len(numerics)
    catdict = {}
    catcodes = {}
    
    # Flagging categorical and numerical fields
    for x in numerics:
         catdict[x] = 0
    for x in categories:
         catdict[x] = 1
    
    nrows = df.shape[0]
    ncolumns = len(features)
    with open('foodTEST', "w") as text_file:
    
    # Looping over rows to convert each row to libffm format
        for n, r in enumerate(range(nrows)):
             datastring = ""
             datarow = df.iloc[r].to_dict()
             datastring += str(int(datarow['ratings'])) # Set Target Variable here
             
            # For numerical fields, we are creating a dummy field here
             for i, x in enumerate(catdict.keys()):
                 if(catdict[x]==0):
                     datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
                 else:
            
            # For a new field appearing in a training example
                     if(x not in catcodes):
                         catcodes[x] = {}
                         currentcode +=1
                         catcodes[x][datarow[x]] = currentcode #encoding the feature
             
            # For already encoded fields
                     elif(datarow[x] not in catcodes[x]):
                         currentcode +=1
                         catcodes[x][datarow[x]] = currentcode #encoding the feature
                     
                     code = catcodes[x][datarow[x]]
                     datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"

             datastring += '\n'
             text_file.write(datastring)

In [8]:
food_rate_1 = food_rate_1.sample(frac=1).reset_index(drop=True)

In [8]:
features1 = list(food_rate_1.userId.unique())

In [10]:
features1.extend(list(food_rate_1.productId.unique()))

In [11]:
len(features1)

1030

In [13]:
convert_to_ffm(food_rate_1, [], ['userId', 'productId'], (features1))

In [ ]:
food_rate_1.to_csv("datatopredict.csv")