In [1]:
import numpy as np
import pandas as pd 
import random

In [2]:
Product = 30    #NoofProduct
User = 1000       #NoofUser

In [95]:
import random

In [96]:
random.shuffle(a)

In [113]:
user_ids = [user_id for user_id in range(0,1000)]

In [104]:
product_ids = [random.randint(100, 130) for index in range(0,10000)]

In [105]:
userid2productid = {user_id: random.choices(product_ids, k=random.randint(1, 30)) for user_id in user_ids}

In [106]:
userid2productdf = pd.DataFrame(list(userid2productid.values()), index=userid2productid.keys(), dtype=float).T.reset_index(drop=True).melt().dropna(axis=0)

In [107]:
userid2productdf.columns = ['userId', 'productId']

In [108]:
userid2productdf['userId'] = userid2productdf['userId'].astype(str)
userid2productdf['productId'] = userid2productdf['productId'].astype(int).astype(str)

In [109]:
userid2productdf = userid2productdf.sample(frac=1).reset_index(drop=True)
userid2productdf

      userId productId
0        958       118
1        952       109
2        386       125
3        186       107
4        344       107
...      ...       ...
14921     52       129
14922    335       130
14923    882       129
14924    862       102
14925    650       123

[14926 rows x 2 columns]

In [121]:
userid2productdf.to_csv("part1data.csv")
len(userid2productdf)

14926

In [128]:
rate = []
for i in range(len(userid2productdf)):
    rate.append(np.random.randint(1,6))

In [130]:
userid2productdf['ratings']= rate

In [131]:
userid2productdf

      userId productId  ratings
0        958       118        4
1        952       109        3
2        386       125        2
3        186       107        1
4        344       107        3
...      ...       ...      ...
14921     52       129        1
14922    335       130        4
14923    882       129        2
14924    862       102        2
14925    650       123        3

[14926 rows x 3 columns]

In [143]:
try_df = userid2productdf.copy()

In [151]:
try_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14926 entries, 0 to 14925
Data columns (total 3 columns):
userId       14926 non-null object
productId    14926 non-null int64
ratings      14926 non-null int64
dtypes: int64(2), object(1)
memory usage: 350.0+ KB

In [150]:
try_df['productId'] =try_df['productId'].astype(int)

In [16]:
def price(productNo):
    Price = []
    for i in range(productNo):
        Price.append((np.random.randint(5,16)))
    return Price

In [20]:

Price = price(Product)

In [136]:
prr = [100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130]

In [137]:
Prodnm =["Juice","Bread","Sphagetti","Cheese","Cookie","Meat","Fish","Banana","Grapes","Cupcake","Curly Kale","Cereals","Rice","walnut","Apples",
         "Cabbage","Salad","Frozen","Curd","Cereals","Eggs","Milk","Tortilla","Chips","Carrots","Zhucchini","Tuna","pizza","coconut water","Avocado","prawns"]

In [21]:
Productdata = pd.DataFrame(list(zip(Prodnm,prr,Price)),
                   columns = ['Product Name', 'productId','price'])
Productdata

     Product Name  productId  price
0           Juice        100      5
1           Bread        101      7
2       Sphagetti        102     11
3          Cheese        103     14
4          Cookie        104      5
5            Meat        105     15
6            Fish        106      6
7          Banana        107      8
8          Grapes        108      7
9         Cupcake        109      5
10     Curly Kale        110      7
11        Cereals        111     12
12           Rice        112      6
13         walnut        113      5
14         Apples        114     12
15        Cabbage        115     15
16          Salad        116      6
17         Frozen        117     14
18           Curd        118     12
19        Cereals        119     10
20           Eggs        120     12
21           Milk        121     12
22       Tortilla        122      8
23          Chips        123     12
24        Carrots        124     14
25      Zhucchini        125     14
26           Tuna        126      9
27          pizza        127      5
28  coconut water        128     11
29        Avocado        129      8

In [160]:
Productdata['productId'].astype(int)

0     100
1     101
2     102
3     103
4     104
5     105
6     106
7     107
8     108
9     109
10    110
11    111
12    112
13    113
14    114
15    115
16    116
17    117
18    118
19    119
20    120
21    121
22    122
23    123
24    124
25    125
26    126
27    127
28    128
29    129
Name: productId, dtype: int64

In [22]:
Productdata.to_csv("FoodData.csv",index=False)

In [152]:
combined = pd.merge(try_df,Productdata, on='productId')
print(combined)

      userId  productId  ratings Product Name  Price
0        958        118        4         Curd     13
1        864        118        5         Curd     13
2        993        118        4         Curd     13
3        280        118        1         Curd     13
4        142        118        3         Curd     13
...      ...        ...      ...          ...    ...
14403    546        129        5      Avocado      6
14404    345        129        1      Avocado      6
14405    253        129        2      Avocado      6
14406     52        129        1      Avocado      6
14407    882        129        2      Avocado      6

[14408 rows x 5 columns]

In [155]:
combined = combined.sample(frac=1).reset_index(drop=True)

In [156]:
print(combined)

      userId  productId  ratings   Product Name  Price
0        998        116        2          Salad      6
1        948        121        2           Milk      9
2        776        126        1           Tuna      5
3        224        109        1        Cupcake      9
4        657        124        2        Carrots     10
...      ...        ...      ...            ...    ...
14403    986        113        3         walnut     14
14404     75        111        3        Cereals      5
14405    761        103        5         Cheese      6
14406    181        110        4     Curly Kale      5
14407    310        128        3  coconut water     15

[14408 rows x 5 columns]

In [157]:
combined.to_csv('FinalFood.csv',index=False)