In [73]:
import itertools
import pandas as pd
import numpy as np

System version: 3.6.10 |Anaconda, Inc.| (default, May  7 2020, 23:06:31)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version: 0.25.3
Fast AI version: 1.0.61
Torch version: 1.1.0
Cuda Available: False
CuDNN Enabled: True

In [75]:
food_rate = pd.read_csv("xdeepfinalfood.csv")
food_rate

       userId  productId  ratings   Product Name  Price
0         998        116        0          Salad      6
1         948        121        0           Milk      9
2         776        126        0           Tuna      5
3         224        109        0        Cupcake      9
4         657        124        0        Carrots     10
...       ...        ...      ...            ...    ...
14403     986        113        0         walnut     14
14404      75        111        0        Cereals      5
14405     761        103        1         Cheese      6
14406     181        110        1     Curly Kale      5
14407     310        128        0  coconut water     15

[14408 rows x 5 columns]

In [76]:
food_rate_1 = food_rate.copy()

In [89]:
def convert_to_ffm(df,numerics,categories,features):
    currentcode = len(numerics)
    catdict = {}
    catcodes = {}
    
    # Flagging categorical and numerical fields
    for x in numerics:
         catdict[x] = 0
    for x in categories:
         catdict[x] = 1
    
    nrows = df.shape[0]
    ncolumns = len(features)
    with open('xfood_ffm.txt', "w") as text_file:
    
    # Looping over rows to convert each row to libffm format
        for n, r in enumerate(range(nrows)):
             datastring = ""
             datarow = df.iloc[r].to_dict()
             datastring += str(int(datarow['ratings'])) # Set Target Variable here
             
            # For numerical fields, we are creating a dummy field here
             for i, x in enumerate(catdict.keys()):
                 if(catdict[x]==0):
                     datastring = datastring + " "+str(i)+":"+ str(i)+":"+ str(datarow[x])
                 else:
            
            # For a new field appearing in a training example
                     if(x not in catcodes):
                         catcodes[x] = {}
                         currentcode +=1
                         catcodes[x][datarow[x]] = currentcode #encoding the feature
             
            # For already encoded fields
                     elif(datarow[x] not in catcodes[x]):
                         currentcode +=1
                         catcodes[x][datarow[x]] = currentcode #encoding the feature
                     
                     code = catcodes[x][datarow[x]]
                     datastring = datastring + " "+str(i)+":"+ str(int(code))+":1"

             datastring += '\n'
             text_file.write(datastring)

In [78]:
food_rate_1 = food_rate_1.drop(('Product Name'), axis =1)

In [79]:
food_rate_1 = food_rate_1.drop(('Price'), axis =1)

In [80]:
food_rate_1

       userId  productId  ratings
0         998        116        0
1         948        121        0
2         776        126        0
3         224        109        0
4         657        124        0
...       ...        ...      ...
14403     986        113        0
14404      75        111        0
14405     761        103        1
14406     181        110        1
14407     310        128        0

[14408 rows x 3 columns]

In [81]:
features1 = list(food_rate_1.userId.unique())

In [83]:
features1.extend(list(ratings_df.productId.unique()))

In [92]:
len(features1)

1029

In [90]:
convert_to_ffm(food_rate_1, [], ['userId', 'productId'], (features1))